In [1]:
import pandas as pd
import numpy as np

In [2]:
data  = pd.read_csv("data/insurance.csv"); data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
to_hot = ['sex','children','smoker','region']
for col in data.columns:
    if col not in to_hot and col not in ['charges']:
        data[col] /= data[col].max()
onehot = pd.get_dummies(data,columns=to_hot)
onehot.charges = onehot.charges.apply(np.log)
onehot.head()

,age,bmi,charges,sex_female,sex_male,children_0,children_1,children_2,children_3,children_4,children_5,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0.296875,0.525127,9.734176,1,0,1,0,0,0,0,0,0,1,0,0,0,1
1,0.281250,0.635611,7.453302,0,1,0,1,0,0,0,0,1,0,0,0,1,0
2,0.437500,0.621118,8.400538,0,1,0,0,0,1,0,0,1,0,0,0,1,0
3,0.515625,0.427348,9.998092,0,1,1,0,0,0,0,0,1,0,0,1,0,0
4,0.500000,0.543572,8.260197,0,1,1,0,0,0,0,0,1,0,0,1,0,0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error

In [5]:
def rmse(y,y_hat):
    return np.sqrt(mean_squared_error(y,y_hat))

In [6]:
X_train, X_test, y_train, y_test = train_test_split(onehot.drop("charges",axis=1),onehot.charges)

In [40]:
from regression_class import LinearRegression
lin = LinearRegression(n_iter=100000)

In [41]:
lin.fit(X_train,y_train)
preds = lin.predict(X_test)
rmse(y_test,preds)

HBox(children=(FloatProgress(value=0.0, max=100000.0), HTML(value='')))

Complete

0.4482943600862828

In [37]:
lin.get_params().tolist()

[2.1977060946664175,
 1.5022453192761283,
 2.6558322629484645,
 2.567299307391968,
 0.7121590138269676,
 0.8566223558678979,
 0.9342394364966994,
 0.9490866572497957,
 1.0370291160417942,
 0.7339949908572807,
 1.8307160771561528,
 3.3924154931842705,
 1.3954198963611626,
 1.361454925377628,
 1.1932305950629603,
 1.273026153538672]

In [38]:
from sklearn.linear_model import LinearRegression
l = LinearRegression()

In [39]:
l.fit(X_train,y_train)
p = l.predict(X_test)
rmse(y_test,p)

0.4476893605326063