In [1]:
import numpy as np
import pandas as pd

In [2]:
mahmad = np.array(range(1,30,4))
mahmad

array([ 1,  5,  9, 13, 17, 21, 25, 29])

In [3]:
!ls ../linear_regression/data

auto-mpg.csv  housing.csv   insurance.csv

In [4]:
data = pd.read_csv("../linear_regression/data/insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
yuniq = data.region.unique().tolist()
yuniq

['southwest', 'southeast', 'northwest', 'northeast']

In [6]:
from label_encoder import LabelEncoder

In [7]:
encoder= LabelEncoder()

In [8]:
region = data.region.values
encoder.fit(region)

In [9]:
encoder.transform(region)

array([0, 2, 2, ..., 2, 0, 1])

In [10]:
e = encoder.fit_transform(region)

In [11]:
e.min()

0

In [13]:
from one_hot_encoder import OneHotEncoder

In [14]:
encoder = OneHotEncoder()

In [15]:
encoder.fit(region)

In [16]:
encoder.transform(region)[:5]

array([[0, 0, 0, 1],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0]], dtype=int8)

In [17]:
a = encoder.transform(region)[:5]

In [18]:
a.max

# Mean Encoding

In [19]:
charges = data.charges.values

In [20]:
from mean_encoder import MeanEncoder

In [25]:
encoder = MeanEncoder()
encoder.fit(region,charges)

In [27]:
encoder.mapper

{0: 12346.937377292308,
 1: 12417.57537396923,
 2: 14735.411437609888,
 3: 13406.384516385804}

In [31]:
data.groupby("region").charges.mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64